site/*
*.ucdb
covhtmlreport/*
work/*
transcript
*.ini
*.wlf
.moore
*.vstf
wlft*
*nfs*
src/moore.sv
*.sig
*.dtb
*.dasm
build/*
/tmp*
*.dasm
/Bender.lock
/Bender.local
build/
*.vcd
*.log
*.out
*.jou
*.o
work-ver/*
fpga/work-fpga
stdout/
work-dpi/
tb/riscv-isa-sim/
work-*/*
install/
*.xci
mnist.coe
fpga/lib_xilinx_questa/
sw/app/*.D
sw/app/*.riscv
sw/app/*.a
!sw/app/mnist.coe
!sw/app/mnist.riscv
*.code-workspace
fpga/reports*
fpga/work-sim

fpga/results/*

!fpga/results/latest/
!fpga/results/base/

!fpga/results/base/*
!fpga/results/latest/*

!fpga/results/latest/behav/*

fpga/results/**/*.log
fpga/results/**/*.wlf



xvlog_options
ver*
